@font-face {
    font-family: 'db_ozone_xregular';
    src: url('db_ozone_x_v3.2-webfont.woff2') format('woff2'),
         url('db_ozone_x_v3.2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Courier New';
  src: url('CourierNewPSMT.woff2') format('woff2'),
      url('CourierNewPSMT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inheritance Font';
  src: url('InheritanceFont.woff2') format('woff2'),
      url('InheritanceFont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monospace-Bold';
  src: url('MonospaceBold.woff2') format('woff2'),
      url('MonospaceBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monospace';
  src: url('Monospace.woff2') format('woff2'),
      url('Monospace.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monospace-Oblique';
  src: url('MonospaceOblique.woff2') format('woff2'),
      url('MonospaceOblique.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url('Gotham-Bold.woff2') format('woff2'),
      url('Gotham-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('Gotham-Book.woff2') format('woff2'),
      url('Gotham-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DB Ozone X';
  src: url('DBOzoneX.woff2') format('woff2'),
      url('DBOzoneX.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DB Ozone X-Bold';
  src: url('DBOzoneX-Bold.woff2') format('woff2'),
      url('DBOzoneX-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DB Ozone X-Light';
  src: url('DBOzoneX-Light.woff2') format('woff2'),
      url('DBOzoneX-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


html{
  scroll-behavior: smooth;
}
    h1,p{
        font-family: 'db_ozone_xregular';
    }
.dd-navbar{
    align-items: center;
}

.dd-container {
    position: relative;
    width: 100%;
    max-width: 1380px;
    padding: 0 40px;
    margin: 0 auto;
    font-family: 'Francois One', sans-serif;
    color: white;
}

.dd-navlink {
    background-color: #391f01;
    margin: 0px;
    overflow: hidden;
    padding: 10px;
}

.dd-nav .dd-navlink .dd-container{
    display: flex;
}


.dd-navlink.is-sub {
    background-color: #663701;
}
.dd-navlink a.is-active, .dd-navlink a:hover , .dd-link{
    color: #f77b00;
    text-decoration: none;
}

.dd-navlink.is-sub a.is-active, .dd-navlink.is-sub a:hover{
    color: white;
    text-decoration: none;
}

.dd-navlink a {
    padding-right: 30px;
    display: block;
    font-size: 17px;
    color: #fff;
}

.dd-navbarsocial {
    position: absolute;
    right: 0;
    bottom: 80px;
}

.dd-link{
    display: flex;
}

.dd-nav .dd-link a {
    font-size: 18px;
    display: block;
    padding: 0 15px;
    color: #663701;
    text-decoration: none;
}

.dd-link a:hover{
    color: #f77b00;
    text-decoration: none;
}
.dd-navlink.is-sub a{
    color: #f77b00;
}

.dd-navlink.is-sub a:hover{
    color: white;
    text-decoration: none;
}

.dd-nav ul {
    list-style: none;
    padding: 0;
}

.dd-social {
    display: flex;
}

.dd-social {
    margin-bottom: 15px;
    align-items: center;
}

.dd-social a {
    padding: 18px;
}

.footer {
    /* padding: 40px; */
    text-align: left;
    background:  #663701;
    color: white;
    padding: 60px 100px 60px;
    padding-left: 150px;
    justify-content: space-between;
  }

/*--snack box--*/
#setsnack{
    font-size: 17px;
}

#snack{

    padding: 90px;
    font-size: 17px;
}
/*--Donut--*/

#donuts{
    display: flex;
    text-align: center;
}

.row{
    box-sizing: border-box;
    display: inline-block;
    align-items: center;
}

#donut{
    margin: 20px;
    padding: 0 20px;
    text-align: center;
    font-size: 18px;
}

#donut:hover{-webkit-transform:scale(1.15);transform:scale(1.15);transition:-webkit-transform .3s ease;transition:transform .3s ease;transition:transform .3s ease, -webkit-transform .3s ease}

.title:hover {color:#f77b00;transition:color .15s ease}

/*--Everyday--*/
.vlp {
    margin-left: 50px;
    border-left: 1.5px solid black;
    height: 350px;
   
  }

  .vlp36 {
    margin-left: 50px;
    border-left: 1.5px solid black;
    height: 400px;
   
  }
  


  #pack:hover{
    background-color: #f7f7f7; 
    
  }


/*--Sandwiches--*/
.vls {
    margin-left: 50px;
    border-left: 1.5px solid black;
    height: 250px;
   
  }

  .vls2 {
    margin-left: 50px;
    border-left: 1.5px solid black;
    height: 350px;
   
  }

  #sand:hover{
    background-color: #f7f7f7; 
    
  }



/*--Coffee--*/
  .square {
    height: 350px;
    width: 320px;
    background-color:#773722;
  }
  .square2 {
    height: 350px;
    width: 320px;
    background-color:#773722;
  } 
  .square3 {
    height: 350px;
    width: 320px;
    background-color:#773722;
  }
   .square4 {
    height: 350px;
    width: 320px;
    background-color:#773722;
  }

  .square33 {
    height: 350px;
    width: 350px;
    background-color: #F2F2F2;
  }
  .square44 {
    height: 350px;
    width: 350px;
    background-color: #F2F2F2;
  }

  .square55 {
    height: 700px;
    width: 700px;
    background-color: #F2F2F2;
  }


  .square:after {
    content: "";
    left: 100%;
    display: block;
    position: relative;
    width: 0;
    height: 0;
    margin-top:-80px;
    margin-left: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #773722;
  }

  .square2:before {
    content: "";
    right: 100%;
    display: block;
    width: 0;
    height: 0;
    margin-top:50px;
    margin-left: 305px;
    position: relative;
    top: 30%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid#773722;
}
.square3:after {
    content: "";
    left: 100%;
    display: block;
    position: relative;
    width: 0;
    height: 0;
     margin-top:-130px;
    margin-left: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #773722;
  }
  .square4:after {
    content: "";
    left: 100%;
    display: block;
    position: relative;
    width: 0;
    height: 0;
     margin-top:-40px;
    margin-left: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #773722;
  }

.squarep {
    height: 350px;
    width: 320px;
    background-color:#E04B94;
  }
  .squarep2 {
    height: 350px;
    width: 320px;
    background-color:#E04B94;
  }

  .squarep3 {
    height: 350px;
    width: 320px;
    background-color:#E04B94;
  }
  .squarep4 {
    height: 350px;
    width: 320px;
    background-color:#E04B94;
  }
  .squarep5 {
    height: 350px;
    width: 320px;
    background-color:#E04B94;
  }
  .squarep6 {
    height: 350px;
    width: 320px;
    background-color:#E04B94;
  }
  



  .squarep:after {
    content: "";
    left: 100%;
    display: block;
    position: relative;
    width: 0;
    height: 0;
     margin-top:-60px;
    margin-left: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #E04B94;
  }
  .squarep2:after {
    content: "";
    left: 100%;
    display: block;
    position: relative;
    width: 0;
    height: 0;
     margin-top:0px;
    margin-left: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #E04B94;
  }

  .squarep3:before {
    content: "";
    right: 100%;
    display: block;
    width: 0;
    height: 0;
    margin-top:50px;
    margin-left: 305px;
    position: relative;
    top: 30%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid#E04B94;
}
.squarep4:before {
    content: "";
    right: 100%;
    display: block;
    width: 0;
    height: 0;
    margin-top:50px;
    margin-left: 305px;
    position: relative;
    top: 30%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid#E04B94;
}
.squarep5:after {
    content: "";
    left: 100%;
    display: block;
    position: relative;
    width: 0;
    height: 0;
     margin-top:-80px;
    margin-left: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #E04B94;
  }
  .squarep6:after {
    content: "";
    left: 100%;
    display: block;
    position: relative;
    width: 0;
    height: 0;
    margin-top:-30px;
    margin-left: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #E04B94;
  }

  #coffee:hover{-webkit-transform:scale(1.02);transform:scale(1.02);transition:-webkit-transform .3s ease;transition:transform .3s ease;transition:transform .3s ease, -webkit-transform .3s ease}

   .arrow:hover{
           margin-left: 5px;
   }
  


  .line1 {
    margin-left: 50px;
    border-left: 1.5px solid black;
    height: 105px;
    padding-left: 15px;
  }

  .line2 {
    border-left: 1.5px solid black;
    height: 140px;
    padding-left: 15px;
    margin-top: 35px;
  }

  #link {
    text-decoration: none;
    color: black;
  }

  .squarep3 {
    height: 350px;
    width: 320px;
    background-color:#E04B94;
  }
  .squarep4 {
    height: 350px;
    width: 320px;
    background-color:#E04B94;
  }
  .squarep5 {
    height: 350px;
    width: 320px;
    background-color:#E04B94;
  }
  .squarep6 {
    height: 350px;
    width: 320px;
    background-color:#E04B94;
  }
  



  .squarep:after {
    content: "";
    left: 100%;
    display: block;
    position: relative;
    width: 0;
    height: 0;
     margin-top:-60px;
    margin-left: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #E04B94;
  }
  .squarep2:after {
    content: "";
    left: 100%;
    display: block;
    position: relative;
    width: 0;
    height: 0;
     margin-top:0px;
    margin-left: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #E04B94;
  }

  .squarep3:before {
    content: "";
    right: 100%;
    display: block;
    width: 0;
    height: 0;
    margin-top:50px;
    margin-left: 305px;
    position: relative;
    top: 30%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid#E04B94;
}
.squarep4:before {
    content: "";
    right: 100%;
    display: block;
    width: 0;
    height: 0;
    margin-top:50px;
    margin-left: 305px;
    position: relative;
    top: 30%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid#E04B94;
}
.squarep5:after {
    content: "";
    left: 100%;
    display: block;
    position: relative;
    width: 0;
    height: 0;
     margin-top:-80px;
    margin-left: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #E04B94;
  }
  .squarep6:after {
    content: "";
    left: 100%;
    display: block;
    position: relative;
    width: 0;
    height: 0;
     margin-top:-30px;
    margin-left: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #E04B94;
  }

  #coffee:hover{-webkit-transform:scale(1.01);transform:scale(1.01);transition:-webkit-transform .3s ease;transition:transform .3s ease;transition:transform .3s ease, -webkit-transform .3s ease}






.square33:after {
    content: "";
    bottom: 50%;
    left: 100%;
    display: block;
    position: relative;
    width: 0;
    height: 0;
    margin-top:0px;
    margin-left: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid  #F2F2F2;
  }
  .square44:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: relative;
    right: 91%;
    top: 50%;
    margin-left: 305px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #F2F2F2;
}

.square55:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: relative;
    right: 90.8%;
    top: 50%;
    margin-left: 621px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #F2F2F2;
}

.square_1 {
  height: 333.51px;
  width: 325px;
  background-color:#f58220;
  
}

.square_2 {
  height: 333.51px;
  width: 325px;
  background-color:#f58220;
  
}

.square_3 {
  height: 333.51px;
  width: 325px;
  background-color:#773722;
  
}

.square_4 {
  height: 333.51px;
  width: 325px;
  background-color:#773722;
  
}

.square_1::after {
  content: "";
  left: 100%;
  display: block;
  position: relative;
  width: 0;
  height: 0;
  margin-top: -10px;
  margin-left: 0px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #f58220;
}


.square_2::before {
  content: "";
  right: 100%;
  display: block;
  position: relative;
  width: 0;
  height: 0;
  top: 150px;
  margin-left: 313px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #f58220;
}

.square_3::after {
  content: "";
  left: 100%;
  display: block;
  position: relative;
  width: 0;
  height: 0;
  margin-top: -50px;
  margin-left: 0px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #773722;
}

.square_4::before {
  content: "";
  right: 100%;
  display: block;
  position: relative;
  width: 0;
  height: 0;
  top: 150px;
  margin-left: 313px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #773722;
}


.dd-img:hover {-webkit-transform:scale(1.14);
  transform:scale(1.14);
  transition:-webkit-transform .5s ease;
  transition:transform .5s ease;
  transition:transform .5s ease, -webkit-transform .5s ease}

.dd-img {
  width: 325px;
  text-align: center;
}
/* about */
.zen1946 {
  margin-top: -15px;
  margin-left: 20px;
  border-left: 1.5px solid black;
  height: 150px;

}
.zen1950 {
  margin-top: -15px;
  margin-left: 20px;
  border-left: 1.5px solid black;
  height: 120px;

}
.zenQSR {
  margin-top: -20px;
  margin-left: 20px;
  border-left: 1.5px solid black;
  height: 220px;

}
.zen1981 {
  margin-top: -15px;
  margin-left: 20px;
  border-left: 1.5px solid black;
  height: 200px;

}
.zen2016 {
  margin-top: -15px;
  margin-left: 20px;
  border-left: 1.5px solid black;
  height: 270px;

}
.zenCSR{
  margin-top: -15px;
  margin-left: 20px;
  border-left: 1.5px solid black;
  height: 300px;

}
.zen1989{
  margin-top: -15px;
  margin-left: 20px;
  border-left: 1.5px solid black;
  height: 80px;

}
.zen2010{
  margin-top: -15px;
  margin-left: 20px;
  border-left: 1.5px solid black;
  height: 130px;

}
.zen2011{
  margin-top: -15px;
  margin-left: 20px;
  border-left: 1.5px solid black;
  height: 180px;

}
.barpink{
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 2050px;
  width: 250px;
  background-color: #ff03a9;
  float: right;
  position: absolute;
}
.barpink a{
  color: white;

}
.barpink a:hover{
  text-decoration: none;
  color: white;
}
/* Contact */
.pink{
  margin-top: -6px;
  height:  550px;
  width: 650px;
  background-color: #ee4297 ;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

}

.w3-button{
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: black;
  padding: 10px 25px;
 text-align: center;
}
















.content {
  background-color: #df2e80;
  color: #fff;
  text-align: center;
}

hr{
  width:16px;
  height:2px;
  margin:0 auto;
  background-color:white
}

.text-vertical{
  padding:30px 0;
  -webkit-transform:rotate(90deg);
  transform:rotate(90deg);
  display:block;
  text-align:center}
  .dd-today .text-vertical strong,.dd-today .text-vertical span{display:block}
  .dd-today .text-vertical strong{font-family:"Gotham-Bold";font-size:16px;font-weight:normal}
  .dd-today .text-vertical span{font-family:"Gotham-Book";font-size:7px;letter-spacing:0.3em}
  .dd-today .text-now{margin-top:40px}
 
  .form-group {border-style: none;}


/*--DDCard--*/
.content-wrapper{
  width: 100%;
}
.text-wrapper{
  position: relative;
  margin-top: -7.5%;
}
.text-wrapper h4{
  margin-left: 16%;
  text-align: left;
  color: black;
  font-size: 1.3vw;
}
.text-wrapper h6{
margin-left: 16%;
text-align: left;
color: black;
}
.content1{
  text-align: center;
}
.content1 h6{
  margin-bottom: 4%;
}
.text2{
text-align: center;
}
.text3{
  margin-left: 28%;
}







