@font-face {
  font-family: 'db_ozone_xregular';
  src: url('db_ozone_x_v3.2-webfont.woff2') format('woff2'),
       url('db_ozone_x_v3.2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: 'Courier New';
src: url('CourierNewPSMT.woff2') format('woff2'),
    url('CourierNewPSMT.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Inheritance Font';
src: url('InheritanceFont.woff2') format('woff2'),
    url('InheritanceFont.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Monospace-Bold';
src: url('MonospaceBold.woff2') format('woff2'),
    url('MonospaceBold.woff') format('woff');
font-weight: bold;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Monospace';
src: url('Monospace.woff2') format('woff2'),
    url('Monospace.woff') format('woff');
font-weight: 500;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Monospace-Oblique';
src: url('MonospaceOblique.woff2') format('woff2'),
    url('MonospaceOblique.woff') format('woff');
font-weight: 500;
font-style: italic;
font-display: swap;
}

@font-face {
font-family: 'Gotham-Bold';
src: url('Gotham-Bold.woff2') format('woff2'),
    url('Gotham-Bold.woff') format('woff');
font-weight: bold;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Gotham-Book';
src: url('Gotham-Book.woff2') format('woff2'),
    url('Gotham-Book.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'DB Ozone X';
src: url('DBOzoneX.woff2') format('woff2'),
    url('DBOzoneX.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'DB Ozone X-Bold';
src: url('DBOzoneX-Bold.woff2') format('woff2'),
    url('DBOzoneX-Bold.woff') format('woff');
font-weight: bold;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'DB Ozone X-Light';
src: url('DBOzoneX-Light.woff2') format('woff2'),
    url('DBOzoneX-Light.woff') format('woff');
font-weight: 300;
font-style: normal;
font-display: swap;
}


html{
scroll-behavior: smooth;
}
  h1,p{
      font-family: 'db_ozone_xregular';
  }
.dd-navbar{
  align-items: center;
}

.dd-container {
  position: relative;
  width: 100%;
  max-width: 1380px;
  padding: 0 40px;
  margin: 0 auto;
  font-family: 'Francois One', sans-serif;
  color: white;
}

.dd-navlink {
  background-color: #391f01;
  margin: 0px;
  overflow: hidden;
  padding: 8px;
}

.dd-nav .dd-navlink .dd-container{
  display: flex;
}


.dd-navlink.is-sub {
  background-color: #663701;
}
.dd-navlink a.is-active, .dd-navlink a:hover , .dd-link{
  color: #f77b00;
  text-decoration: none;
  font-family: 'Gotham-Bold';
}

.dd-navlink.is-sub a.is-active, .dd-navlink.is-sub a:hover{
  color: white;
  text-decoration: none;
  font-family: 'Gotham-Bold';
}

.dd-navlink a {
  padding-right: 40px;
  display: block;
  font-size: 17px;
  color: #fff;
}

.dd-navbarsocial {
  position: absolute;
  right: 7%;
  bottom: 62px;
}

.dd-link{
  display: flex;
}

.dd-nav .dd-link a {
font-size: 14px;
display: block;
padding: 0 15px;
color: #663701;
font-family: "GothamBold";
}


.dd-link a:hover{
  color: #f77b00;
  text-decoration: none;
}
.dd-navlink.is-sub a{
  color: #f77b00;
}

.dd-navlink.is-sub a:hover{
  color: white;
  text-decoration: none;
}

.dd-nav ul {
  list-style: none;
  padding: 0;
}

.dd-social {
  display: flex;
  margin-bottom: 18px;
  align-items: center;
  margin-left: 55px;
  
  
}

.dd-social a {
  padding: 5.1px;
  
 
}

.dd-section {
padding: 60px 0;
margin: 60px 0;
}

.dd-section {
  padding: 60px 0;
  margin: 60px 0;
}

.footer {
  /* padding: 40px; */
  text-align: left;
  background:  #663701;
  color: white;
  padding: 60px 100px 60px;
  padding-left: 150px;
  justify-content: space-between;
}

/*--snack box--*/
#setsnack{
  font-size: 17px;
}

#snack{

  padding: 90px;
  font-size: 17px;
}
/*--Donut--*/

#donuts{
    /* display: flex; */
    text-align: center;
}

#other{
display: flex;
text-align: center;
}

.row{
  box-sizing: border-box;
  display: inline-block;
  align-items: center;
}

#donut{
  /* margin: 20px;
  padding: 0 20px; */
  flex-basis: 20%;
  padding: 0 42px;
  text-align: center;
  font-size: 18px;

}

#donut:hover{-webkit-transform:scale(1.15);transform:scale(1.15);transition:-webkit-transform .3s ease;transition:transform .3s ease;transition:transform .3s ease, -webkit-transform .3s ease}

#donutss{
  padding: 0 31px;
  text-align: center;
  font-size: 18px;
}

#donutss:hover{-webkit-transform:scale(1.15);transform:scale(1.15);transition:-webkit-transform .3s ease;transition:transform .3s ease;transition:transform .3s ease, -webkit-transform .3s ease}


.title:hover {color:#f77b00;transition:color .15s ease}
#donutsss{
  padding: 0 31px;
  text-align: center;
  font-size: 18px;
}
/*--Everyday--*/
.vlp {
  border-left: 1.5px solid black;
  height: 255px;
}


.bg24736{
  background-color: rgb(275, 275, 275, 0);
  height: 800px;
  width: 800px;
}
.vlp3 {
  border-left: 1.5px solid black;
  height: 350px;}

.vlp36 {
  
  border-left: 1.5px solid black;
  height: 400px;
 
}


/* 
#pack:hover{
  background-color: #f7f7f7; 
  transition: all 0.8s ease-out;
-webkit-font-smoothing: antialiased; */
  
/* } */


/*--Sandwiches--*/
.vls {
  margin-left: 0px;
  border-left: 1.5px solid black;
  height: 250px;
 
}

.vls2 {
  margin-left: 50px;
  border-left: 1.5px solid black;
  height: 350px;
 
}

.bg247{
  background-color: rgb(275, 275, 275, 0);
  height: 500px;
  width: 800px;
}




/*--Coffee--*/
.square {
  height: 300px;
  width: 300px;
  background-color:#773722;
}
.square2 {
  height: 300px;
  width: 300px;
  background-color:#773722;
} 
.square3 {
  height: 300px;
  width: 300px;
  background-color:#773722;
}
 .square4 {
  height: 300px;
  width: 300px;
  background-color:#773722;
}


.square33 {
  height: 307.5px;
  width: 307.5px;
  background-color: #F2F2F2;
}
.square44 {
  height: 307.5px;
  width: 307.5px;
  background-color: #F2F2F2;
}

.square55 {
  height: 615px;
  width: 615px;
  background-color:#e2e2e2;
}

.square333 {
  height: 307.5px;
  width: 307.5px;
  background-color: #e2e2e2;
  line-height: 1;
}
.square444 {
  height: 307.5px;
  width: 307.5px;
  background-color: #e2e2e2;
  line-height: 1;
}



.square:after {
  content: "";
  left: 52%;
  display: block;
  position: relative;
  width: 0;
  height: 0;
  margin-top:-80px;
  margin-left: 0px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #773722;
}

.square2:before {
  content: "";
  left: -53%;
  display: block;
  width: 0;
  height: 0;
  margin-top: 50px;
  margin-left: 10px;
  position: relative;
  top: 30%;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid#773722;
}
.square3:after {
  content: "";
  left: 52%;
  display: block;
  position: relative;
  width: 0;
  height: 0;
   margin-top:-130px;
  margin-left: 0px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #773722;
}
.square4:after {
  content: "";
  left: 52%;
  display: block;
  position: relative;
  width: 0;
  height: 0;
   margin-top:-40px;
  margin-left: 0px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #773722;
}

.squarep {
  height: 300px;
  width: 300px;
  background-color:#E04B94;
}
.squarep2 {
  height: 300px;
  width: 300px;
  background-color:#E04B94;
}

.squarep3 {
  height: 300px;
  width: 300px;
  background-color:#E04B94;
}
.squarep4 {
  height: 300px;
  width: 300px;
  background-color:#E04B94;
}
.squarep5 {
  height: 300px;
  width: 300px;
  background-color:#E04B94;
}
.squarep6 {
  height: 300px;
  width: 300px;
  background-color:#E04B94;
}




.squarep:after {
  content: "";
  left: 52%;
  display: block;
  position: relative;
  width: 0;
  height: 0;
   margin-top:-60px;
  margin-left: 0px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #E04B94;
}
.squarep2:after {
  content: "";
  left: 52%;
  display: block;
  position: relative;
  width: 0;
  height: 0;
   margin-top:0px;
  margin-left: 0px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #E04B94;
}

.squarep3:before {
  content: "";
  left: -53%;
  display: block;
  width: 0;
  height: 0;
  margin-top: 50px;
  margin-left: 10px;
  position: relative;
  top: 30%;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid#E04B94;
}
.squarep4:before {
  content: "";
  left: -53%;
  display: block;
  width: 0;
  height: 0;
  margin-top: 50px;
  margin-left: 10px;
  position: relative;
  top: 30%;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid#E04B94;
}
.squarep5:after {
  content: "";
  left: 52%;
  display: block;
  position: relative;
  width: 0;
  height: 0;
   margin-top:-80px;
  margin-left: 0px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #E04B94;
}
.squarep6:after {
  content: "";
  left: 52%;
  display: block;
  position: relative;
  width: 0;
  height: 0;
  margin-top:-30px;
  margin-left: 0px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #E04B94;
}

#coffee:hover{-webkit-transform:scale(1.1);transform:scale(1.1);transition:-webkit-transform .3s ease;transition:transform .3s ease;transition:transform .3s ease, -webkit-transform .3s ease}

 .arrow:hover{
         margin-left: 5px;
 }



.line1 {
  margin-left: 50px;
  border-left: 1.5px solid #000;
  height: 100px;
  padding-left: 15px;
}

.line2 {
  border-left: 1.5px solid #000;
  height: 130px;
  padding-left: 15px;
  margin-top: 35px;
}

#link {
  text-decoration: none;
  color:#000;
}









.square33:after {
  content: "";
  bottom: 50%;
  left: 52%;
  display: block;
  position: relative;
  width: 0;
  height: 0;
  margin-top:0px;
  margin-left: 0px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid  #F2F2F2;
}
.square44:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: relative;
  right: 52%;
  top: 30%;
  margin-top:0px;
  margin-left: 0px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #F2F2F2;
}

.square333:after {
content: "";
bottom: 50%;
left: 52%;
display: block;
position: relative;
width: 0;
height: 0;
margin-top:0px;
margin-left: 0px;
border-top: 15px solid transparent;
border-bottom: 15px solid transparent;
border-left: 15px solid #e2e2e2;
}
.square444:before {
content: "";
display: block;
width: 0;
height: 0;
position: relative;
right: 52%;
top: 30%;
margin-top:0px;
margin-left: 0px;
border-top: 15px solid transparent;
border-bottom: 15px solid transparent;
border-right: 15px solid#e2e2e2;
}

.square55:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: relative;
    right: 51%;
    top: 50%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #e2e2e2;
}

.square_1 {
height: 333.51px;
width: 330px;
background-color:#f58220;

}

.square_2 {
height: 333.51px;
width: 330px;
background-color:#f58220;

}

.square_3 {
height: 333.51px;
width: 330px;
background-color:#773722;

}

.square_4 {
height: 333.51px;
width: 330px;
background-color:#773722;

}

.square_1::after {
content: "";
left: 52.2%;
display: block;
position: relative;
width: 0;
height: 0;
margin-top: -10px;
margin-left: 0px;
border-top: 15px solid transparent;
border-bottom: 15px solid transparent;
border-left: 15px solid #f58220;
}


.square_2::before {
content: "";
right: 99.7%;
display: block;
position: relative;
width: 0;
height: 0;
top: 150px;
margin-left: 313px;
border-top: 15px solid transparent;
border-bottom: 15px solid transparent;
border-right: 15px solid #f58220;
}

.square_3::after {
content: "";
left: 52.5%;
display: block;
position: relative;
width: 0;
height: 0;
margin-top: -50px;
margin-left: 0px;
border-top: 15px solid transparent;
border-bottom: 15px solid transparent;
border-left: 15px solid #773722;
}

.square_4::before {
content: "";
right: 99.7%;
display: block;
position: relative;
width: 0;
height: 0;
top: 150px;
margin-left: 313px;
border-top: 15px solid transparent;
border-bottom: 15px solid transparent;
border-right: 15px solid #773722;
}


.dd-img:hover {-webkit-transform:scale(1.14);
transform:scale(1.14);
transition:-webkit-transform .5s ease;
transition:transform .5s ease;
transition:transform .5s ease, -webkit-transform .5s ease}

.dd-img {
width: 330px;
text-align: center;
}
/* about */
.zen1946 {
margin-top: -15px;
margin-left: -5px;
border-left: 1.5px solid black;
height: 150px;

}
.zen1950 {
margin-top: -15px;
margin-left: -5px;
border-left: 1.5px solid black;
height: 120px;

}
.zenQSR {
margin-top: -20px;
margin-left: -5px;
border-left: 1.5px solid black;
height: 220px;

}
.zen1981 {
margin-top: -15px;
margin-left: -5px;
border-left: 1.5px solid black;
height: 200px;

}
.zen2016 {
margin-top: -15px;
margin-left: -5px;
border-left: 1.5px solid black;
height: 270px;

}
.zenCSR{
margin-top: -15px;
margin-left: -5px;
border-left: 1.5px solid black;
height: 300px;

}
.zen1989{
margin-top: -15px;
margin-left: 32px;
border-left: 1.5px solid black;
height: 75px;
}
.zen1997{
  margin-top: -15px;
  margin-left: 1px;
  border-left: 1.5px solid black;
  height: 75px;

}
.zen2000{
margin-top: -15px;
margin-left: 1px;
border-left: 1.5px solid black;
height: 75px;

}
.zen2005{
margin-top: -15px;
margin-left: -10px;
border-left: 1.5px solid black;
height: 75px;

}
.zen2008{
margin-top: -15px;
margin-left: -35px;
border-left: 1.5px solid black;
height: 75px;

}
.zen2009{
margin-top: -15px;
margin-left: -35px;
border-left: 1.5px solid black;
height: 75px;
}
.zen2010{
margin-top: -15px;
margin-left: -5px;
border-left: 1.5px solid black;
height: 250px;

}

.zen2011{
margin-top: -15px;
margin-left: -5px;
border-left: 1.5px solid black;
height: 250px;

}
.zen2012{
margin-top: -15px;
margin-left: -60px;
border-left: 1.5px solid black;
height: 100px;

}
.zen2013{
margin-top: -15px;
margin-left: 15px;
border-left: 1.5px solid black;
height: 75px;

}

.zen2014{
margin-top: -15px;
margin-left: 10px;
border-left: 1.5px solid black;
height: 75px;

}
.barpink{
list-style-type: none;
margin: 0;
margin-top: -140px;
margin-left: 1100px;
padding: 0;
height: 2180px;
width: 270px;
background-color: #ff03a9;
position: absolute;
}
.barpink a{
color: white;

}
.barpink a:hover{
text-decoration: none;
color: white;
}
/* Contact */
.pink{
margin-top: -6px;
height:  460px;
width: 650px;
background-color: #ee4297 ;
text-align: center;
justify-content: center;
margin-left: auto;
margin-right: auto;

}

.w3-button{
margin-left: auto;
margin-right: auto;
background-color: white;
color: black;
padding: 10px 25px;
text-align: center;
}
















.content {
background-color: #df2e80;
color: #fff;
text-align: center;
}

hr{
width:16px;
height:2px;
margin:0 auto;
background-color:white
}

.text-vertical{
padding:30px 0;
-webkit-transform:rotate(90deg);
transform:rotate(90deg);
display:block;
text-align:center}
.dd-today .text-vertical strong,.dd-today .text-vertical span{display:block}
.dd-today .text-vertical strong{font-family:"Gotham-Bold";font-size:16px;font-weight:normal}
.dd-today .text-vertical span{font-family:"Gotham-Book";font-size:7px;letter-spacing:0.3em}
.dd-today .text-now{margin-top:40px}

.form-group {border-style: none;}


/*--DDCard--*/
#regis a {

background: #ee4598;;
border-radius: 1px;
color: rgb(5, 5, 5);
display: inline-block;
padding: 8px 20px;
transition: all 0.25s ease-out;
-webkit-font-smoothing: antialiased;
margin-left: 550px;
text-decoration: none;
position: absolute;


}
#regis a:hover {

color: #ee4598;
background-color: white;
text-decoration: none;
position: absolute

}

.carousel-caption{
position: absolute;
}
.content-wrapper{
width: 100%;
}
.text-wrapper{
position: relative;
margin-top: -7.5%;
}
.text-wrapper h4{
margin-left: 16%;
text-align: left;
color: black;
font-size: 1.3vw;
}
.text-wrapper h6{
margin-left: 16%;
text-align: left;
color: black;
}
.content1{
text-align: center;
}
.content1 h6{
margin-bottom: 4%;
}
.text2{
text-align: center;
}
.text3{
margin-left: 28%;
}

#dd{
padding-left: 100px;
}

#DBOzoneXBd {
font-family: 'DB Ozone X-Bold';
}

#DBOzoneX {
font-family: 'DB Ozone X';
}

#GothamBold {
font-family: 'Gotham-Bold';
}

#GothamBook {
font-family: 'Gotham-Book';
}


/*--Promotion--*/

#MyBTN {
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 19;
  font-size: 13px;
  border: none;
  outline: none;
  padding: 5px 0 5px 0;
  background-color: unset;
  display: block;
}
.verinavbar a{
  color: #000;
  text-decoration: none;
  font-family: 'Gotham-Bold';
}
.verinavbar a:hover{
  color: #f77b00;
  text-decoration: none;
  font-family: 'Gotham-Bold';
}
#myBtn:hover {
  animation: toTop .2s forwards;
}
/*--Back to top Css / Supported by Japan It 666--*/
.test-text-span {
  display: block;
}
.test-text {
  border-top: 0.5px solid #000;
  padding: 1px 0 1px 0;
  width: fit-content;
  border-bottom: 0.5px solid #000;
}
@keyframes toTop {
  form {
      top: 350px;
  }
  to {
      top: 345px;
  }
}
/*--ref https://www.solodev.com/blog/web-design/adding-a-load-more-button-to-your-content.stml --*/
#loadMore {
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  width: 100%;
}
#loadMore a {
  border: black solid;
  background: #ffffff;
  border-radius: 1px;
  color: rgb(5, 5, 5);
  display: inline-block;
  padding: 10px 30px;
  transition: all 0.25s ease-out;
  -webkit-font-smoothing: antialiased;
}
#loadMore a:hover {
  color: white;
  background-color: #000000;

}
.veri { /*--Supported by Japan It666--*/
  writing-mode: tb-rl;
  margin: 2em;
  margin-left: 30%;
}
.verinavbar {
  position: fixed;
  z-index: 2;
  right: 20px;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: translate3d(50%, 50%, 0) rotate(90deg);
  transform: translate3d(50%, 50%, 0) rotate(90deg);
  top: 180px;
  margin-top: 12vw;
}
.verinavbar ul {
  list-style: none;
  display: flex;
  padding: 10px;
  border: 3px solid #000;
  background-color: #fff;
}
.verinavbar li {
  padding: 0 10px;
}
.verinavbar a {
  display: block;
  font-family: "GothamBold";
  font-size: 10px;
  color: #000;
  white-space: nowrap;
  transition: color .15s ease;
}
/* pre-loading */
#loader-bg {
  opacity: 1;
  position: fixed;
  z-index: 999;
  background: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* pre-loading animation */
#loader-bg-1 {
  width: 100px;
  height: 100px;
  position: relative;
  animation: mymove 1s infinite;
}

@keyframes mymove {
  0%   {width: 400px;}
  25% {width: 100px;}
  50% {width: 400px;}
  75% {width: 100px;}
  100% {width: 400px;}
}
  

/* title with logo */
.title_2pci {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title_2pci h1{
  margin-left: 1rem;
}
@media only screen and (max-width: 425px) {
  .title_2pci {
    display: block;
  }
  .title_2pci h1{
    margin-left: 0;
  }
}




.card{
object-fit: cover;
overflow: hidden;
backface-visibility: hidden;
border-style: none!important;
border-radius: 0!important;
}
.card:hover{
box-shadow: 0 0px 80px  rgba(0,0,0,0.2);
transition: box-shadow .3s ease;
-webkit-font-smoothing: antialiased;
}

.card-img-top{
backface-visibility: hidden;
overflow: hidden;
object-fit: cover;
transform: scale(1);
transition: transform .3s ease, -webkit-transform .3s ease;
-webkit-font-smoothing: antialiased;
border-radius: 0!important;

}

.card-img-top:hover{-webkit-transform:scale(1.05);transform:scale(1.05);transition:-webkit-transform .3s ease;transition:transform .3s ease;transition:transform .3s ease, -webkit-transform .3s ease}

